<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <kex.Properties.Settings>
            <setting name="STL_PATH" serializeAs="String">
                <value>c:\vbnet</value>
            </setting>
            <setting name="GROUP_PREFIX" serializeAs="String">
                <value>EX_</value>
            </setting>
            <setting name="DEFAULT_FACETRES" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RESET_UCS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MOVE_XYZ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EXPLODE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LAYER_PER_BLOCK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EXCEPTION_LAYERS" serializeAs="String">
                <value>ExampleLayerName1,ExampleLayerName2</value>
            </setting>
            <setting name="EXCEPTION_ON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USE_NEW_DRAWING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USE_C4D_SCRIPT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PY_PATH" serializeAs="String">
                <value>c:\vbnet\kex.py</value>
            </setting>
            <setting name="USE_CUSTOM_PROPERTIES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PROPERTY_NAME" serializeAs="String">
                <value>Title</value>
            </setting>
            <setting name="USE_TIMEOUT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TIMEOUT_SELECTEDITEM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NESTED_BLOCKS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CLOSE_NEW_DWG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SOLID_OUTSIDE_BLOCKS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STLOUT" serializeAs="String">
                <value>True</value>
            </setting>
        </kex.Properties.Settings>
    </userSettings>
</configuration>